<% provide(:title, "About") %>
<% provide(:app_title, "Hirsch Hawk Colors") %>
<h1><%= yield(:title) %></h1>

<p>
    <%= yield(:app_title) %> is application is for Hirsch Academy TeamCFA.
    The goal is to create an tool that the school may use to automate the tracking and reporting process for the meals delivered to students.
    More features will be added to track equipment and sell school uniforms.
</p>