<% provide(:title, "Help") %>
<% provide(:app_title, "Hirsch Hawk Colors") %>
<h1><%= yield(:title) %></h1>
<p>If you're visiting this page you have questions about how the application works or it has given you an error you don't understand.
</p>
