<% provide(:title, 'All Events') %>
<h1>All Events</h1>

<button>
<%= link_to "New Event", new_event_path %>
</button>

<%= will_paginate %>

<ul class="events">
        <%= render @events %>
</ul>

<%= will_paginate %>